<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
</head>

<body>
    <center>
        <h1>Forget Password</h1>
        <table border="1" bordercolor="red" cellspacing="0" cellpadding="20">
            <tr>
                <td>
                    <form action="/api/verifyEmail" method="post">
                        <div>
                            <label>
                                <b>Email:</b>
                            </label><br>
                            <input type="Email" name="email" placeholder="Enter Email Id">
                            <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                                <div style="color: red;">
                                    <%= error1 %>
                                </div>
                                <% } %>
                        </div><br>
                        <div>
                            <center>
                                <button>Send OTP</a></button>
                                <button><a href="/"> Cencel</a></button>
                            </center>
                        </div><br>
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>