<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify OTP</title>
</head>

<body>
    <center>
        <h1>Update Password </h1>
        <table border="1" bordercolor="red" cellspacing="0" cellpadding="20">
            <tr>
                <td>
                    <form action="/updatePassword" method="post">
                        <input type="hidden" name="email" value="<%= email %>">
                        <div>
                            <div>
                                <input type="password" name="password" placeholder="Enter New Password"><br>
                                <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error1 %>
                                    </div>
                                    <% } %>
                            </div><br>

                            <diV>
                                <input type="password" name="cpassword" placeholder="Confirm Password" >
                                <% if (typeof error2 !=='undefined' && error2.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error2 %>
                                    </div>
                                    <% } %>
                            </diV>
                        </div><br>
                        <div>
                            <center>
                                <button>Update Password</button>
                                <button>Cencel</button>
                            </center>
                        </div><br>
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>